name: Build Debug Image

on:
  workflow_dispatch:
    inputs:
      cuda_version:
        description: 'CUDA version (e.g., 12-6, 12-8)'
        required: true
        default: '12-6'
        type: choice
        options:
          - '12-6'
          - '12-8'

jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push debug image
        uses: docker/bake-action@v5
        with:
          push: true
          targets: debug-${{ inputs.cuda_version }}
          files: docker-bake.hcl
